<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 ">
          <div class="post-preview">

                  <h2 class="post-subtitle">
                    <div  *ngIf="product">
                      <div class="row">
                          <div class="col-md-5">
                              <img [src]='product.imageUrl' class="img-responsive img-rounded" alt="Cinque Terre" width="354" height="286">
                          </div>
                          <div class="col-md-7">
                              <div> Name: {{product.productName}}</div>
                              <div> Code: {{product.productCode}}</div>
                              <div> Description: {{product.description}}</div>
                              <div> Price: {{product.price | currency: 'USD': true : '1.2-2'}}</div>
                              <div> Availability: {{product.releaseDate}}</div>
                              <div>Rating:
                                  <pm-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></pm-star>
                              </div>
                          </div>
                      
                      </div>
              
                  </div>
                  </h2>
       
        
          </div>
      </div>
      <div>
          <button class="btn btn-default btn-lg" (click)='onBack()' style='width:80px'>
              <span class="glyphicon glyphicon-menu-left"></span> Back
          </button>
  </div>
  </div>
</div>