<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle + ': '}}
    </div>
    <div class="panel-body" *ngIf="product">
        <div class="row">
            <div class="col-md-6">
                <div> Name: {{product.productName}}</div>
                <div> Code: {{product.productCode}}</div>
                <div> Description: {{product.description}}</div>
                <div> Price: {{product.price | currency: 'USD': true : '1.2-2'}}</div>
                <div> Availability: {{product.releaseDate}}</div>
                <div>Rating:
                    <pm-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></pm-star>
                </div>
            </div>
            <div class="col-md-6">
                <img [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
            </div>
        </div>

    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i>Back
        </a>
    </div>
</div>