<div class="container" style="width:1500px">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                            If you have a garden and a library, you have everything you need.
                        
                    </h2>
                   </a>
                <p class="post-meta">
                        Marcus Tullius Cicero
            </div>
            <hr>
            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                            Beauty surrounds us, but usually we need to be walking in a garden to know it.
                            
                    </h2>
                </a>
                <p class="post-meta">Rumi</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                            I've always felt that having a garden is like having a good and loyal friend.
                    </h2>
                </a>
                <p class="post-meta">C. Z. Guest
                    </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                            A weed is but an unloved flower.
                    </h2>
          
                </a>
                <p class="post-meta">Ella Wheeler Wilcox</p>
            </div>
     
        </div>
    </div>
</div>